<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A little UAC Lookup script">
    <title>User Account Control Lookup</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/formfill.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
    
    <main class="form-lookup">
      <form method="POST">
        <h1 class="h3 mb-3 fw-normal">Lookup UAC #</h1>

        <div class="form-floating">
          <input type="text" name="uacnum" class="form-control" id="floatingInput" placeholder="2097152">
          <label for="floatingInput">UserAccountControl Value</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      </form>
        {% if return_val %}
        <br />
        <div class="container">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active" aria-current="true">{{ init_val }}</li>
            {% for val in return_val %}
                <li class="list-group-item">{{ val }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </main>
  </body>
</html>